In [1]:
import pandas as pd
import numpy as np

from IPython.display import display

from ml.data import process_data
from ml.model import train_model, compute_model_metrics, inference, calc_slice_performance
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./data/census.csv')
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [6]:
df.columns = [el.lstrip() for el in df.columns]
print(df.columns)

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [7]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [8]:
for col in cat_features:
    df[col] = df[col].apply(lambda x: x.lstrip())

In [9]:
for col in df.columns.tolist():
    if df[col].dtype == 'object':
        print('\n')
        display(df.groupby([col])[col].count())

workclass
?                    1836
Federal-gov           960
Local-gov            2093
Never-worked            7
Private             22696
Self-emp-inc         1116
Self-emp-not-inc     2541
State-gov            1298
Without-pay            14
Name: workclass, dtype: int64

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: education, dtype: int64

marital-status
Divorced                  4443
Married-AF-spouse           23
Married-civ-spouse       14976
Married-spouse-absent      418
Never-married            10683
Separated                 1025
Widowed                    993
Name: marital-status, dtype: int64

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64

relationship
Husband           13193
Not-in-family      8305
Other-relative      981
Own-child          5068
Unmarried          3446
Wife               1568
Name: relationship, dtype: int64

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

sex
Female    10771
Male      21790
Name: sex, dtype: int64

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
Name: native-country, dtype: int64

salary
 <=50K    24720
 >50K      7841
Name: salary, dtype: int64

In [10]:
df.to_csv('./data/clean_census.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

from IPython.display import display

from ml.data import process_data
from ml.model import train_model, compute_model_metrics, inference, calc_slice_performance
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./data/clean_census.csv')

In [3]:
train, test = train_test_split(
    df,
    test_size = 0.20,
    random_state = 42
)

cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
x_train, y_train, encoder, lb = process_data(
    train,
    categorical_features = cat_features,
    label = "salary",
    training=True
)

x_test, y_test, _, _ = process_data(
    test, 
    categorical_features = cat_features, 
    label = 'salary', 
    training = False,
    encoder = encoder,
    lb = lb
)

# Train and save a model.
model = train_model(x_train, y_train)

In [8]:
type(model)

sklearn.ensemble._forest.RandomForestClassifier

In [4]:
preds = inference(model, x_test)

In [5]:
compute_model_metrics(y_test, preds, display=True)

f-beta: 0.6861313868613139
precision: 0.7557427258805512
recall: 0.6282622533418205

In [6]:
calc_slice_performance(
    data = test,
    model = model,
    cat_features = cat_features,
    encoder = encoder,
    lb = lb
)

Categorical column: workclass	| Slice value: State-gov
f-beta: 0.7285714285714286
precision: 0.7611940298507462
recall: 0.6986301369863014

Categorical column: workclass	| Slice value: Self-emp-not-inc
f-beta: 0.5801526717557252
precision: 0.7238095238095238
recall: 0.4840764331210191

Categorical column: workclass	| Slice value: Federal-gov
f-beta: 0.7647058823529412
precision: 0.7878787878787878
recall: 0.7428571428571429

Categorical column: workclass	| Slice value: Self-emp-inc
f-beta: 0.7619047619047619
precision: 0.7787610619469026
recall: 0.7457627118644068

Categorical column: workclass	| Slice value: ?
f-beta: 0.46875000000000006
precision: 0.6818181818181818
recall: 0.35714285714285715

Categorical column: workclass	| Slice value: Without-pay
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: workclass	| Slice value: Local-gov
f-beta: 0.7298578199052131
precision: 0.7623762376237624
recall: 0.7

Categorical column: workclass	| Slice value: Private
f-beta: 0.685215493726132
precision: 0.7548076923076923
recall: 0.6273726273726273

Categorical column: education	| Slice value: 10th
f-beta: 0.23529411764705882
precision: 0.4
recall: 0.16666666666666666

Categorical column: education	| Slice value: Some-college
f-beta: 0.598326359832636
precision: 0.7114427860696517
recall: 0.516245487364621

Categorical column: education	| Slice value: Assoc-voc
f-beta: 0.5913043478260869
precision: 0.6538461538461539
recall: 0.5396825396825397

Categorical column: education	| Slice value: Prof-school
f-beta: 0.8901734104046243
precision: 0.8651685393258427
recall: 0.9166666666666666

Categorical column: education	| Slice value: 5th-6th
f-beta: 0.6666666666666666
precision: 1.0
recall: 0.5

Categorical column: education	| Slice value: Masters
f-beta: 0.8373205741626794
precision: 0.8293838862559242
recall: 0.8454106280193237

Categorical column: education	| Slice value: 11th
f-beta: 0.42857142857142855
precision: 1.0
recall: 0.2727272727272727

Categorical column: education	| Slice value: Assoc-acdm
f-beta: 0.6666666666666666
precision: 0.725
recall: 0.6170212765957447

Categorical column: education	| Slice value: 12th
f-beta: 0.5714285714285715
precision: 1.0
recall: 0.4

Categorical column: education	| Slice value: Doctorate
f-beta: 0.8717948717948718
precision: 0.85
recall: 0.8947368421052632

Categorical column: education	| Slice value: 1st-4th
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: education	| Slice value: 7th-8th
f-beta: 0.0
precision: 1.0
recall: 0.0

Categorical column: education	| Slice value: 9th
f-beta: 0.5
precision: 1.0
recall: 0.3333333333333333

Categorical column: education	| Slice value: HS-grad
f-beta: 0.525
precision: 0.6837209302325581
recall: 0.4260869565217391

Categorical column: education	| Slice value: Bachelors
f-beta: 0.7337142857142857
precision: 0.7552941176470588
recall: 0.7133333333333334

Categorical column: education	| Slice value: Preschool
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: marital-status	| Slice value: Married-AF-spouse
f-beta: 0.0
precision: 1.0
recall: 0.0

Categorical column: marital-status	| Slice value: Married-spouse-absent
f-beta: 0.4
precision: 1.0
recall: 0.25

Categorical column: marital-status	| Slice value: Separated
f-beta: 0.5384615384615384
precision: 1.0
recall: 0.3684210526315789

Categorical column: marital-status	| Slice value: Married-civ-spouse
f-beta: 0.7136633663366337
precision: 0.7452440033085195
recall: 0.6846504559270516

Categorical column: marital-status	| Slice value: Never-married
f-beta: 0.527027027027027
precision: 0.8666666666666667
recall: 0.3786407766990291

Categorical column: marital-status	| Slice value: Divorced
f-beta: 0.5
precision: 0.8780487804878049
recall: 0.34951456310679613

Categorical column: marital-status	| Slice value: Widowed
f-beta: 0.1904761904761905
precision: 1.0
recall: 0.10526315789473684

Categorical column: occupation	| Slice value: Protective-serv
f-beta: 0.6301369863013699
precision: 0.7419354838709677
recall: 0.5476190476190477

Categorical column: occupation	| Slice value: Exec-managerial
f-beta: 0.7736842105263156
precision: 0.8099173553719008
recall: 0.7405541561712846

Categorical column: occupation	| Slice value: Craft-repair
f-beta: 0.5657894736842105
precision: 0.6991869918699187
recall: 0.47513812154696133

Categorical column: occupation	| Slice value: Other-service
f-beta: 0.32258064516129037
precision: 1.0
recall: 0.19230769230769232

Categorical column: occupation	| Slice value: Tech-support
f-beta: 0.7474747474747475
precision: 0.7708333333333334
recall: 0.7254901960784313

Categorical column: occupation	| Slice value: Armed-Forces
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: occupation	| Slice value: Sales
f-beta: 0.7032967032967034
precision: 0.7441860465116279
recall: 0.6666666666666666

Categorical column: occupation	| Slice value: ?
f-beta: 0.46875000000000006
precision: 0.6818181818181818
recall: 0.35714285714285715

Categorical column: occupation	| Slice value: Priv-house-serv
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: occupation	| Slice value: Adm-clerical
f-beta: 0.5465116279069767
precision: 0.618421052631579
recall: 0.4895833333333333

Categorical column: occupation	| Slice value: Prof-specialty
f-beta: 0.7754569190600523
precision: 0.7941176470588235
recall: 0.7576530612244898

Categorical column: occupation	| Slice value: Transport-moving
f-beta: 0.5
precision: 0.6136363636363636
recall: 0.421875

Categorical column: occupation	| Slice value: Handlers-cleaners
f-beta: 0.4444444444444444
precision: 0.6666666666666666
recall: 0.3333333333333333

Categorical column: occupation	| Slice value: Machine-op-inspct
f-beta: 0.45569620253164556
precision: 0.5625
recall: 0.3829787234042553

Categorical column: occupation	| Slice value: Farming-fishing
f-beta: 0.2702702702702703
precision: 0.5555555555555556
recall: 0.17857142857142858

Categorical column: relationship	| Slice value: Wife
f-beta: 0.6857142857142858
precision: 0.7007299270072993
recall: 0.6713286713286714

Categorical column: relationship	| Slice value: Unmarried
f-beta: 0.4210526315789474
precision: 1.0
recall: 0.26666666666666666

Categorical column: relationship	| Slice value: Own-child
f-beta: 0.3
precision: 1.0
recall: 0.17647058823529413

Categorical column: relationship	| Slice value: Other-relative
f-beta: 0.4
precision: 1.0
recall: 0.25

Categorical column: relationship	| Slice value: Husband
f-beta: 0.7175368139223561
precision: 0.7507002801120448
recall: 0.6871794871794872

Categorical column: relationship	| Slice value: Not-in-family
f-beta: 0.5204460966542751
precision: 0.8641975308641975
recall: 0.3723404255319149

Categorical column: race	| Slice value: Asian-Pac-Islander
f-beta: 0.7563025210084033
precision: 0.7894736842105263
recall: 0.7258064516129032

Categorical column: race	| Slice value: Black
f-beta: 0.6194690265486725
precision: 0.7291666666666666
recall: 0.5384615384615384

Categorical column: race	| Slice value: Amer-Indian-Eskimo
f-beta: 0.588235294117647
precision: 0.7142857142857143
recall: 0.5

Categorical column: race	| Slice value: White
f-beta: 0.6860198624904508
precision: 0.7546218487394958
recall: 0.6288515406162465

Categorical column: race	| Slice value: Other
f-beta: 0.8
precision: 1.0
recall: 0.6666666666666666

Categorical column: sex	| Slice value: Male
f-beta: 0.7023330651649236
precision: 0.7604529616724739
recall: 0.6524663677130045

Categorical column: sex	| Slice value: Female
f-beta: 0.5831202046035805
precision: 0.7215189873417721
recall: 0.4892703862660944

Categorical column: native-country	| Slice value: Iran
f-beta: 0.25
precision: 0.3333333333333333
recall: 0.2

Categorical column: native-country	| Slice value: Hungary
f-beta: 0.6666666666666666
precision: 1.0
recall: 0.5

Categorical column: native-country	| Slice value: Hong
f-beta: 0.6666666666666666
precision: 0.5
recall: 1.0

Categorical column: native-country	| Slice value: Cuba
f-beta: 0.7272727272727272
precision: 0.6666666666666666
recall: 0.8

Categorical column: native-country	| Slice value: Italy
f-beta: 0.75
precision: 0.75
recall: 0.75

Categorical column: native-country	| Slice value: ?
f-beta: 0.6785714285714285
precision: 0.76
recall: 0.6129032258064516

Categorical column: native-country	| Slice value: Vietnam
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Laos
f-beta: 0.0
precision: 1.0
recall: 0.0

Categorical column: native-country	| Slice value: Haiti
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Portugal
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: England
f-beta: 0.5714285714285715
precision: 0.6666666666666666
recall: 0.5

Categorical column: native-country	| Slice value: Philippines
f-beta: 0.8571428571428571
precision: 1.0
recall: 0.75

Categorical column: native-country	| Slice value: Puerto-Rico
f-beta: 0.8333333333333334
precision: 0.8333333333333334
recall: 0.8333333333333334

Categorical column: native-country	| Slice value: Germany
f-beta: 0.7692307692307693
precision: 0.7692307692307693
recall: 0.7692307692307693

Categorical column: native-country	| Slice value: South
f-beta: 0.4
precision: 0.3333333333333333
recall: 0.5

Categorical column: native-country	| Slice value: Ireland
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Scotland
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Thailand
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Mexico
f-beta: 0.5
precision: 1.0
recall: 0.3333333333333333

Categorical column: native-country	| Slice value: Jamaica
f-beta: 0.0
precision: 0.0
recall: 1.0

Categorical column: native-country	| Slice value: Yugoslavia
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Ecuador
f-beta: 0.6666666666666666
precision: 1.0
recall: 0.5

Categorical column: native-country	| Slice value: United-States
f-beta: 0.6829454406714994
precision: 0.7546374367622259
recall: 0.6236933797909407

Categorical column: native-country	| Slice value: India
f-beta: 0.823529411764706
precision: 0.7777777777777778
recall: 0.875

Categorical column: native-country	| Slice value: Trinadad&Tobago
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Guatemala
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Columbia
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: El-Salvador
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Dominican-Republic
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Taiwan
f-beta: 0.75
precision: 0.75
recall: 0.75

Categorical column: native-country	| Slice value: Japan
f-beta: 0.75
precision: 0.75
recall: 0.75

Categorical column: native-country	| Slice value: Poland
f-beta: 0.8
precision: 0.6666666666666666
recall: 1.0

Categorical column: native-country	| Slice value: France
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Cambodia
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Nicaragua
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: China
f-beta: 1.0
precision: 1.0
recall: 1.0

Categorical column: native-country	| Slice value: Peru
f-beta: 0.0
precision: 0.0
recall: 0.0

Categorical column: native-country	| Slice value: Greece
f-beta: 0.0
precision: 0.0
recall: 0.0

Categorical column: native-country	| Slice value: Canada
f-beta: 0.6153846153846154
precision: 0.8
recall: 0.5

Categorical column: native-country	| Slice value: Honduras
f-beta: 1.0
precision: 1.0
recall: 1.0